html {
  font-size: 1vw;
} 
  * {
  box-sizing: border-box;
}

body {
  background-color: #edeae0;
  background-image: url(./images/background.png);
  overflow: hidden;
  /* padding-top: 50%; */
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.body-content {
  display: grid;
  grid-template-rows: 20vh 50vh 30vh;
  grid-template-columns: auto;
}

.header {
text-align: center;
}

.stuff {
  font-family: helvetica;
  font-size: 3rem;
}

.bottom-bar {
  background-color: rgb(245, 243, 240);
  opacity: 30%;
}
